{% extends 'base.html' %} 
{% load humanize %}
{% block title%} | Login {% endblock %}
{% block content %}
<section id="login" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>
                            <i class="fas fa-sign-in-alt"></i>Reset Password</h4>
                    </div>
                    <div class="card-body">
                        {% include 'partials/_alerts.html'%}
                        <form action="{% url 'password-reset/done/' %}" method ="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email">Enter the Email</label>
                                <input type="email" name="email" class="form-control" required>
                              </div>
                            <input type="submit" value="Reset Password" class="btn btn-primary btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}